<div class="row">
  <div class="col">
    <%= form_with(model: movie, local: true) do |form| %>
      <% if movie.errors.any? %>
        <div id="error_explanation" class="alert alert-danger" role="alert">
          <h4 class="alert-heading"><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h4>

          <ul>
            <% movie.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :release_date %>
        <%= form.date_field :release_date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :director_id %>
        <%= form.collection_select :director_id, Director.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :series_id %>
        <%= form.collection_select :series_id, Series.all, :id, :name, { include_blank: true }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :running_time %>
        <%= form.number_field :running_time, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :original_title %>
        <%= form.text_field :original_title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :english_title %>
        <%= form.text_field :english_title, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary"%>
      </div>
    <% end %> 
  </div>
</div>
