<div class="row my-3">
  <div class="col">
    <h1>Movies</h1>
  </div>
</div>

<div class="row my-3">
  <div class="col-2 offset-10">
    <%= link_to 'New Movie', new_movie_path, class: "btn btn-success", role: "button" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th class="col-4">Title</th>
      <th class="col-2">Release date</th>
      <th class="col-3">Director</th>
      <th class="col-3">Series</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr class="row">
        <td class="col-4"><%= link_to movie.title, movie %></td>
        <td class="col-2"><%= movie.release_date %></td>
        <td class="col-3">
          <% if movie.director %>
            <%= link_to movie.director.name, movie.director %>
          <% end %>
          <% if movie.director2 %>
            <br><%= link_to movie.director2.name, movie.director2 %>
          <% end %>
          <% if movie.director3 %>
            <br><%= link_to movie.director3.name, movie.director3 %>
          <% end %>
          <% if movie.director4 %>
            <br><%= link_to movie.director4.name, movie.director4 %>
          <% end %>
          <% if movie.director5 %>
            <br><%= link_to movie.director5.name, movie.director5 %>
          <% end %>
        </td>
        <td class="col-3">
          <% if movie.series %>
            <%= link_to movie.series.name, movie.series %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
