<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director.name %>
</p>

<p>
  <strong>Series:</strong>
  <%= @movie.series.name %>
</p>

<p>
  <strong>Running time:</strong>
  <%= @movie.running_time %>
</p>

<p>
  <strong>Original title:</strong>
  <%= @movie.original_title %>
</p>

<p>
  <strong>English title:</strong>
  <%= @movie.english_title %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
